doctype html
html.no-js(lang='')
  head
    include ./partials/head.jade
  body
    .container
        include ./partials/header.jade
        include ./partials/body_top.jade
        h2 Such Applications, many credit scores, so hip.
        p= thanks
        ul.applications
            each application in applications
                li.application
                    .details
                        =application.name 
                        |  who is 
                        =application.age 
                        |  and is a 
                        =application.profession
                        |  wants to get a credit card. 
                        if !application.application_reviewed
                            span They can haz?
                        if application.application_reviewed && application.application_approved
                            br
                            p Currently application is approved!
                        else if application.application_reviewed && !application.application_approved
                            br
                            p Currentlly application is rejected!
                        else if !application.application_reviewed
                            br
                            p Currently application has not been reviewed!
                    .actions
                        a(href="/applications/#{application.application_id}/edit?status=approve")
                            .list-button Approve!
                        a(href="/applications/#{application.application_id}/edit?status=reject")
                            .list-button Reject...
                        a(href="/applications/#{application.application_id}") 
                            .list-button View page
                        //- form(action="/applications/#{application.application_id" method="DELETE")
                        //-     input(type="submit" value="Delete Application")


    include ./partials/footer.jade
    include ./partials/body_bottom.jade
